
.form-title{
    color: black;
    line-height: 23px;
    font-size: 40px;
    font-weight: lighter;
}

aside{

    background-color: white;
    width: 15%;
    height: 100%;
    float: left;
    transition: 0.4s;
}
aside:hover{
    background: #ebebeb;
}


aside2{

    background-color: white;
    width: 15%;
    height: 100%;
    float: right;
    transition: 0.4s;
}
aside2:hover{
    background: #ebebeb;
}



input{
    font-size: 10px;
    line-height: 15px;
    height: 60px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 20px;
}


div h1{
    font-size: 40px;
    font-weight: lighter;
    right: 0;
    left: 0;
    bottom: 0%;
    top:0;
    margin: 0 auto;
    padding-bottom: 7px;
}

.register-form-container{
    max-width: 415px;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;
    margin: 0 auto;
    padding-top: 17%;

    animation-name: fadeForm;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes fadeForm {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.20;
    }
    40%{
        opacity: 0.4;
    }

    60%{
        opacity: 0.60;
    }

    80%{
        opacity: 0.8;
    }

    100%{
        opacity: 1;
    }

}



